<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<title>武藤テストページ</title>
</head>

<body>
<section>
    <!--<h1>こんにちは！</h1>
    <p>武藤テストページ</p>-->
	
	<div class="container-fluid" style="margin-top:50px; box-shadow: 0px 5px 10px 0px #5B5B5B;
										border-radius: 5px;">
		<div class="container text-center" style="padding: 50px 0px 60px;
												font-size: 30px;">
			検索結果詳細
		</div>
	
		<div class="container text-center" style="margin-bottom: 60px; line-height: 190px;">
			<img class="mb-4" th:src="@{/image/Java.jpg}" width="130px" height="190px">
		</div>
	
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-8" style="font-size: 18px; font-weight: 600; margin-bottom: 5px;">
				書籍名
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center; margin-bottom: 20px;">
			<div class="col-8" style="font-size: 15px;">スッキリわかるJava入門</div>
		</div>
		
		<div class="row" style="display: flex; justify-content: center; margin-bottom: 5px">
			<div class="col-8" style="font-size: 18px; font-weight: 600;">カテゴリー</div>
		</div>
		<div class="row" style="display: flex; justify-content: center; margin-bottom: 20px">
			<div class="col-8">
				<p style="font-size: 12px; background-color: #02536F;
						color: #fff; font-size: 12px;
						font-weight: 600; height: 25px;
						line-height: 25px; width: 80px; text-align: center;
						border-radius: 12.5px; margin-bottom: 20px;">
						Java
				</p>
			</div>
		</div>
		
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-8" style="font-size: 18px; font-weight: 600; margin-bottom: 5px;">
				貸出状況
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center; margin-bottom: 20px;">
			<div class="col-8" style="font-size: 15px;">貸出中</div>
		</div>
		
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-8" style="font-size: 18px; font-weight: 600; margin-bottom: 5px;">
				残りの在庫
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center; margin-bottom: 30px;">
			<div class="col-8" style="font-size: 15px;">2冊</div>
		</div>
		
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-8" style="font-size: 18px; margin-bottom: 5px;">
				書籍提供者：武藤
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center; margin-bottom: 20px;">
			<div class="col-8" style="font-size: 15px;
									background-color: #E8ECE8;
									height: 120px;
									border-radius: 10px;
									padding: 10px;">
				この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
				この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
				この文章はダミーです。
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-8" style="font-size: 18px; margin-bottom: 40px;">
				<a>←一覧へ戻る</a>
			</div>
		</div>
			
		
			<div class="row" style="display: flex; justify-content: center;">
				<div class="col-8" style="font-size: 18px; margin-bottom: 5px;">
					書籍詳細
				</div>
			</div>
			
		<div style="display: flex; justify-content: center;">
			<table class="table" style="width: 70%;">
				<tr style="text-align: center;">
					<th scope="col" style="background-color: #0F8FC1; color: #fff;">日付</th>
					<th scope="col" style="background-color: #0F8FC1; color: #fff;">ユーザー</th>
					<th scope="col" style="background-color: #0F8FC1; color: #fff;">貸出履歴</th>
				</tr>
				
				<tr style="text-align: center;">
					<td style="background-color: #15B2EE; color: #fff;">5月29日</td>
					<td style="background-color: #15B2EE; color: #fff;">木俣</td>
					<td style="background-color: #15B2EE; color: #fff;">返却</td>
				</tr>
				
				<tr style="text-align: center;">
					<td style="background-color: #99B9C5; color: #fff;">5月20日</td>
					<td style="background-color: #99B9C5; color: #fff;">木俣</td>
					<td style="background-color: #99B9C5; color: #fff;">貸出</td>
				</tr>
				
				<tr style="text-align: center;">
					<td style="background-color: #15B2EE; color: #fff;">4月29日</td>
					<td style="background-color: #15B2EE; color: #fff;">武藤</td>
					<td style="background-color: #15B2EE; color: #fff;">返却</td>
				</tr>
				
				<tr style="text-align: center;">
					<td style="background-color: #99B9C5; color: #fff;">4月20日</td>
					<td style="background-color: #99B9C5; color: #fff;">武藤</td>
					<td style="background-color: #99B9C5; color: #fff;">貸出</td>
				</tr>
					
			</table>
		</div>
		
	</div>
</section>
  
</body>
</html>
