##### 図書館システムメンバー用環境設定 #####

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.factorypath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.ui.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.tmp
*.temp
Desktop.ini

### Java ###
*.class
*.log
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

### Application specific ###
/logs/
*.log.*
application-*.properties
!application.properties 