<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">InternalBooks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent" aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">ホーム</a>
                </li>
				<li class="nav-item">
				    <a class="nav-link" href="/test/amemiya">雨宮</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link" href="/test/kameda">亀田</a>
                </li>
				<li class="nav-item">
				    <a class="nav-link" href="/test/kimata">木俣</a>
				</li>
				<li class="nav-item">
				    <a class="nav-link" href="/test/sano">佐野</a>
				</li>
				<li class="nav-item">
				    <a class="nav-link" href="/test/matunaga">松永</a>
				</li>
				<li class="nav-item">
				    <a class="nav-link" href="/test/mutou">武藤</a>
				</li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
