<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
	<title>usertop</title>
</head>

<body>
	<section class="vh-100 d-flex justify-content-center align-items-center">
		<div class="container vh-100 d-flex justify-content-center align-items-center">
			<div class="w-100" style="max-width: 330px;">
				<h1 class="text-center">図書館システム</h1>

				<h3 class="text-center mt-4">管理者ユーザーTOP画面</h3>
				<br>


				<!-- ボタンを縦に並べ、中央に配置 -->
				<div class="d-flex flex-column align-items-center gap-3">


					<!-- 書籍登録 -->
					<a class="btn btn-outline-secondary w-100 bg-white text-success shadow py-3 fw-bold"
						th:href="@{/admin/bookediting}">
						書籍登録
					</a>


					<!-- 書籍削除 -->
					<a class="btn btn-outline-secondary w-100 bg-white text-success shadow py-3 fw-bold"
						th:href="@{/admin/bookdeletingcategories}">
						書籍削除
					</a>


					<!-- ユーザー登録 -->
					<a class="btn btn-outline-secondary w-100 bg-white text-success shadow py-3 fw-bold"
						th:href="@{/admin/userregistration}">
						ユーザー登録
					</a>


					<!-- ユーザー検索 -->
					<a class="btn btn-outline-secondary w-100 bg-white text-success shadow py-3 fw-bold"
						th:href="@{/admin/usersearch}">
						ユーザー検索
					</a>


					<!-- 通常Topへ -->
					<a class="btn btn-outline-secondary w-100 bg-white text-success shadow py-3 fw-bold"
						th:href="@{/page/top}">
						通常TOP画面へ戻る
					</a>
				</div>
			</div>
		</div>
	</section>
</body>

</html>