<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
  <title>書籍削除確認</title>
</head>

<body>
    <section class="d-flex justify-content-center align-items-start py-5">
        <div class="container d-flex justify-content-center align-items-start">
            <div class="w-100" style="max-width: 400px;">

                <!-- ================== ページメインタイトル ================== -->
                <h1 class="fw-bold mt-5 display-3 mb-5 text-center">書籍削除確認</h1>
             
                <!-- ================== 書籍画像(現在は画像表示するだけ) ================== -->
                <div class="text-center p-4">
                    <img th:src="@{/images/1001.png}" 
                        class="img-fluid rounded shadow w-50"
                        alt="書籍画像"/>
                </div>
            
                 <!-- 書籍情報エリア -->
                <div class="d-flex justify-content-center">
                    <div class="card-body p-4 pt-1 text-start w-100" style="max-width: 700px;">

                        <!-- 書籍名 -->
                        <div class="mb-4">
                            <h5 class="card-title fw-bold mb-2 text-dark">書籍名</h5>
                            <p class="text-black ms-1">スッキリわかるJava入門</p>
                        </div>
                        
                        <!-- カテゴリー -->
                        <div class="mb-4 mt-4">
                            <h5 class="card-title fw-bold mb-2 text-dark">カテゴリー</h5>
                            <span class="badge bg-primary rounded-pill px-4 py-2 fs-6" th:text="${'JAVA'}">カテゴリー</span>
                        </div>
                        
                        <!-- 貸出状況 -->
                        <div class="mb-5 mt-4">
                            <h5 class="card-title fw-bold mb-2 text-dark">貸出状況</h5>
                            <p class="text-black ms-1">貸出可能</p>
                        </div>

                        <!-- 書籍提供者名前(マージン調整のため一部インナーCSS使用) -->
                        <div class="mt-5" style="margin-bottom: 0.2rem !important;">
                            <p class="text-black text-start ms-2 mb-1">書籍提供者:木俣</p>
                        </div>

                        <!-- 書籍削除確認メッセージ -->
                        <div class="mb-0">
                            <div class="bg-light text-dark fs-6 text-start p-3 mb-3 rounded-3 w-100 min-vh-12">
                                <span class="text-start">書籍提供者コメントTEST書籍提供者コメントTEST書籍提供者コメントTEST書籍提供者コメントTEST書籍提供者コメントTEST</span>
                            </div> 
                        </div>
                        
                        <!-- ================== 戻るボタン ================== -->
                        <div class="border-0 mb-1 text-start">
                            <a href="/page/ここに削除ページへのリンクを記述" class="text-black ms-1">
                                一覧へ戻る
                                <i class="bi bi-arrow-return-left ms-1"></i>
                            </a>
                        </div>


                         <!-- ========== 削除ボタン ========== -->
                        <div class="text-center mt-5">
                            <form method="post" th:action="@{/遷移先書いてください}">
                                <input type="hidden" name="bookId" th:value="${ここに削除したい書籍IDを記述}" />
                                <button type="submit" class="btn btn-danger btn-lg w-50">削除</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</body>

</html>