<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>書籍編集登録画面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
<style>
.icon-hover {
   color: gray;
   cursor: pointer;		
}
.icon-hover:hover {
  fill: #0d6efd;            /* hover時の色（Bootstrapのprimary） */
  transform: scale(1.1);     /* 少し拡大 */
}
</style>
</head>

<body>
<section class = "container justify-content-center mt-5">
	
    <h1 class= "text-center">書籍登録編集画面</h1>
    <br>

<form th:action="@{/admin/bookingconfirmation}" method="post" th:object= "${bookdto}" enctype="multipart/form-data">

<!-- 書籍名 -->
<div class ="container text-center mt-4">
  <div class = "row justify-content-center gap">
	  <div class = "col-auto pt-2 ms-4">
	      	<label for = "name">書籍名</label>
	  </div>
	  <div class = "col-7 col-md-8 ms-2" >
		  <!-- バリデーションエラーを表示 -->
	      	<span th:errors="*{title}" class="text-danger"></span>
			<input type ="text" th:field="*{title}" class="form-control bg-light">
	  </div>
  </div>
</div>

<!-- カテゴリー -->
<div class ="container text-center mt-4">
  <div class = "row justify-content-center">
	  <div class = "col-auto pt-2">
	      	<label for = "category">カテゴリー</label>
	  </div>
	  <div class = "col-7 col-md-8">
		  <!-- バリデーションエラーを表示 -->
	      	<span th:errors="*{category}" class="text-danger"></span>
			<input type ="text" th:field="*{category}" class="form-control bg-light">
	  </div>
  </div>
</div>
 
<!-- 書籍提供者 -->
<div class ="container text-center mt-4">
  <div class ="row justify-content-center"> 
	  <div class = "col-auto pt-2">
			<label for = "id">書籍提供者</label>
	  </div>
	  <div class = "col-7 col-md-8">
		  <!-- バリデーションエラーを表示 -->
	      	<span th:errors="*{providerId}" class="text-danger"></span>
			<input type ="text" th:field="*{providerId}" class="form-control bg-light">
	  </div>
  </div>	
</div>

<!-- 書籍提供者コメント -->
<div class ="container text-center mt-4">
  <div class ="row justify-content-center"> 
	  <div class = "col-auto pull-left pt-2">
			<label for = "id">書籍提供者</label>
			<br>
			<label for = "id">コメント</label>
	  </div>
	  <div class = "col-7 col-md-8">
		  <!-- バリデーションエラーを表示 -->
	      	<span th:errors="*{providerComment}" class="text-danger"></span>
			<textarea class="form-control bg-light" style="height:150px;" th:field="*{providerComment}"></textarea>
	  </div>
  </div>	
</div>

<!-- 書籍画像 -->
<div class ="container text-center mt-4">
  <div class ="row justify-content-center"> 
	  <div class = "col-auto mt-1 pt-2 ms-3">
			<label for = "id">書籍画像</label>
	  </div>	   
	     <div class = "col-7 col-md-8">
		　 　<!-- バリデーションエラーを表示 -->
		      <span th:errors="*{imageUrl}" class="text-danger"></span>
			   <div class="border rounded bg-light d-flex flex-column justify-content-center align-items-center" style="height: 150px;">
			    <!-- collapse機能でアイコンを押すことでid="imageSelectが表示 -->
                <span class="me-2 mb-1">ファイルを選択</span>
                <button type="button" class="btn btn-outline-promary" data-bs-toggle="collapse" data-bs-target="#imageSelect">
			     <i class="bi bi-copy icon-hover"></i>
                </button>		
               <!-- id="imageSelectでdata-bs-targetと繋がる -->
			    <div id="imageSelect" class="collapse">
                <select class="form-select w-50 mx-auto" th:field="*{imageUrl}" id="imageSelectBox">
	             <option value="">-- 選択してください --</option>
	             <!-- AdminControllerで渡したリストを表示 -->
		         <option th:each="img : ${imageFiles}" 
		                 th:value="@{'/images/' + ${img}}" 
		                 th:text="${img}"> 
		         </option> 
	            </select> 
			    </div>
		      </div> 
         </div> 
    </div>
</div>
   
<!-- 戻る -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-start ms-lg-5">
      <a href="/admin/adminusertop" class="btn fs-6">
        戻る
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-return-left ms-1 mb-1" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
        </svg>
       </a>
    </div>
  </div>
</div>

<!-- 登録確認 -->
<div class ="container text-center mt-4">
   <div class = "col-auto">
	 <button type="submit" class="btn btn-primary">登録確認</button>
   </div>
</div>

</form>
</section>
</body>
</html>
