<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
  <title>松永テストページ</title>
</head>

<body>
  <section th:fragment="section">

    <style>
      .fixed-size-img {
        width: 280px;
        height: 350px;
        object-fit: cover;
      }

      .fixed-page-width {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
      }

      .pagination-buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      .pagination-buttons .btn {
        font-size: 16px;
      }
    </style>

    <div class="container text-center fixed-page-width"
         style="margin-bottom: 60px; font-size: 30px; font-weight: 600;">
      図書館システム
    </div>

	<div class="container text-center fixed-page-width"
	     style="margin-bottom: 60px; font-size: 30px;">
	  カテゴリー：<span th:text="${category}">カテゴリー名</span>
	</div>

    <div class="container fixed-page-width">
      <div class="row">
        <a th:href="@{/page/categories}" class="col-auto btn" style="margin-bottom: 10px; font-size: 16px; text-align: left;">
          カテゴリー選択へ戻る↵
        </a>
      </div>
    </div>

    <div class="container fixed-page-width">
      <div id="image-gallery" class="row" style="justify-content: flex-start; margin-bottom: 40px;">
		<div class="col-md-6 mb-6 btn" th:each="bookId : ${bookId}">
		  <img th:src="@{'/images/' + ${bookId} + '.png'}"
		       alt="Book Image"
		       class="img-fluid fixed-size-img" />
		</div>
      </div>
	  <div th:if="${#lists.isEmpty(bookId)}">
	    <p>該当する本が見つかりませんでした。</p>
	  </div>

      <div class="pagination-buttons fixed-page-width">
        <button id="prev-button" class="btn btn-outline-primary">← 前のページ</button>
        <button id="next-button" class="btn btn-outline-primary">次のページ →</button>
      </div>
    </div>
  </section>
</body>
</html>
