<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
	<title>カテゴリー</title>
</head>

<body>
	<section class="vh-100 d-flex justify-content-center align-items-center">
		<div class="container vh-100 d-flex justify-content-center align-items-center">
			<div class="w-100" style="max-width: 400px;">
				<h1 class="mb-4 text-center">カテゴリー</h1>


				<!--2列レイアウト -->
				<div class="row g-3">
					<div class="col-6" th:each="category : ${categories}">

						<!--	  DBよりカテゴリーをリストで取得し、画面に表示-->
						<!--    カテゴリー毎にボタンのデザインを変更するために三項演算子を追記-->
						<!--注意：三項演算子を複数行で記載すると値をとってこれないため、一行で記載-->

						<a th:href="@{'/page/categories_detail?category=' + ${category}}" th:text="${category}"
							class="btn w-100 shadow py-3 fw-bold" style="background-color:white;"
							th:styleappend="${category == 'Java'} ? 'border:2px solid #02536F; color:#02536F;' : (${category == 'Python'} ? 'border:2px solid #A000DF; color:#A000DF;' : (${category == 'C言語'} ? 'border:2px solid #A0A91A; color:#A0A91A;' : (${category == '基本情報'} ? 'border:2px solid #00A313; color:#00A313;' : (${category == 'ITパスポート'} ? 'border:2px solid #E49502; color:#E49502;' : 'border:2px solid #6c757d; color:#6c757d;'))))">
						</a>

					</div>
				</div>

				<!-- ========== 一覧へ戻るボタン ========== -->
				<!-- 戻るボタンを設置　どこの画面からの遷移で切り替え -->
			    <div class="row d-flex justify-content-center border-0 mt-3">
					<a href="/page/top" class="text-black ms-1">
						<img src="/images/TOP_Return.png" style="width: 40px; height: 40px;">
					</a>
			    </div>
			</div>
		</div>
	</section>
</body>

</html>