<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
  <title>パスワード変更完了</title>
</head>

<body>
  <section class="container mt-5">

    <h1 class="text-center">パスワード変更完了</h1>
    <br>

    <!-- 完了メッセージ -->
    <div
      class="alert alert-success d-flex justify-content-center align-items-center text-center py-2"
      role="alert">
      パスワードの変更が完了しました。
    </div>

    <!-- ログイン画面へ戻る -->
    <div class="container text-center mt-5">
      <div class="row justify-content-center">
        <a th:href="@{/page/login}"
           class="btn btn-lg col-5 col-sm-2 shadow fs-6"
           style="color: #47B78A">
           ログイン画面へ戻る
        </a>
      </div>
    </div>

  </section>
</body>

</html>