<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
  <title>finishUserEdit</title>
</head>

<body>
<section class = "container justify-content-center mt-5">
  <div class="row">
    <h1 class= "text-center">図書館システム</h1>
  </div>
  <div class="row">
    <h2 class= "text-center mt-4">ユーザー編集完了</h2>
  </div>
  <div class="h-25 border bg-body-secondary d-flex align-items-center">
    <p class="mt-1 ms-3 fw-normal h6" >以下の内容に編集しました。</p>
  </div>

  <form>    
    <div class ="container mt-4">
      <div class = "row justify-content-center">
		<div class = "col-8 pt-2">
	      <p for = "id" class="form-label text-start">社員ID</p>
		  <div class="rounded-2 h-75 border border-black">
            <span class = "mt-3 ms-2 fw-normal h6" th:text="${.userId}"></span>
		  </div>
		</div>
	  </div>
	</div>
	  

	<div class ="container mt-4">
	  <div class = "row justify-content-center">
	    <div class = "col-8 pt-2">
		  <p for = "id" class = "id form-label text-start">名前</p>
		  <!--UserIdから名前を表示-->
		  <div class="rounded-2 h-75 border border-black">
		    <span class="mt-3 ms-2 fw-normal h6" th:text="${putUser.name}"></span>
		  </div>
		</div>
      </div>
	</div>

	<div class ="container mt-4">
	  <div class = "row justify-content-center">
		<div class = "col-8 pt-2">
		  <p for = "id" class = "id form-label text-start">所属課</p>
		  <!--UserIdから所属課を表示-->
		   <div class="rounded-2 h-75 border border-black">
		     <span class="mt-3 ms-2 fw-normal h6" th:text="${departmentNames}"></span>
		   </div>
		 </div>
	   </div>
	 </div>	

	  
	 <div class ="input-group mt-5 gap-1">
	   <div class ="row justify-content-start"> 
	     <div class = "col-12 ms-lg-5 ps-lg-5">
	        <!--管理者ユーザーTOP画面へ遷移-->
	        <a href="/admin/usersearch" class="btn fs-6 ">一覧へ戻る</a>
	          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
	          <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
	        </svg>
	      </div>
	    </div>
	  </div>
	</form>

</section>
</body>
</html>