<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>Login</title>
</head>

<body>
<section class="vh-100 d-flex justify-content-center align-items-center">
    <main class="form-signin w-100" style="max-width: 330px;">
<!--        <h1 class= "text-center">図書館システム</h1>-->

        <form th:action="@{/action/login}" th:object="${authDto}" method="post" class="text-center">
			  <div class="position-relative mb-4">
			<img class="mb-4 img-fluid"th:src="@{/logo/login.jpg}"alt="Title Logo"style="max-width: 200px;">

      <h1 class="position-absolute top-50 start-50 translate-middle  fw-bold text-dark text-center"   style="white-space: nowrap;">GrowLibrary</h1>
        </div>
<!--            <h1 class="h3 mb-3 fw-normal">ログイン画面</h1>-->

            <div class="form-floating mb-3">
                <input type="email" th:field="*{mailAddress}" class="form-control" id="floatingInput" placeholder="name@example.com">
				<!-- バリデーションエラーを表示 -->
				<span th:errors="*{mailAddress}" class="text-danger ms-3"></span>
				<label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" th:field="*{password}" class="form-control" id="floatingPassword" placeholder="Password">
				<!-- バリデーションエラーを表示 -->
				<span th:errors="*{password}" class="text-danger ms-3"></span>
				<label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-success" type="submit">Login</button>

			<!-- ログイン失敗メッセージ -->
			<div th:if="${errorMessage}" class="alert alert-danger mt-3">
			    <span th:text="${errorMessage}">ログインに失敗しました。ユーザー情報を確認してください。</span>
			</div>
        </form>
    </main>
</section>
</body>
</html>
