<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>ユーザー登録確認</title>
</head>

<body>
<section class = "container justify-content-center mt-5">

    <h1 class= "text-center">図書館システム</h1>
    <br>
    <h3 class= "text-center mt-4">ユーザー登録確認</h3>
    <br>

<!-- 社員ID -->
<div class ="container mt-4">
  <div class = "row justify-content-center">
	  <div class = "col-8 pt-2">
	      	<label for = "id" class="form-label text-start">社員ID</label>
	      	<p th:text="${userDto.userId}" class="form-control bg-white border-dark">
	  </div>
  </div>
</div>

<!-- メールアドレス -->
<div class ="container mt-3">
  <div class = "row justify-content-center">
	  <div class = "col-8 pt-2">
	      	<label for = "mail" class="form-label text-start">メールアドレス </label>
	      	<p th:text="${userDto.mailAddress}" class="form-control bg-white border-dark" style="word-wrap: break-word; white-space: normal;">
	  </div>
  </div>
</div>

<!-- パスワード -->
<div class ="container mt-3">
  <div class = "row justify-content-center">
	  <div class = "col-8 pt-2">
	      	<label for = "password" class="form-label text-start"> パスワード</label>
	      	<p th:text="${userDto.password}" class="form-control bg-white border-dark">
	  </div>
  </div>
</div>

<!-- 名前 -->
<div class ="container mt-3">
  <div class = "row justify-content-center">
	  <div class = "col-8 pt-2">
	      	<label for = "name" class="form-label text-start">名前</label>
	      	<p th:text="${userDto.name}" class="form-control bg-white border-dark">
	  </div>
  </div>
</div>

<!-- 所属課  -->
<div class ="container mt-3">
  <div class = "row justify-content-center">
	  <div class = "col-8 pt-2">
	      	<label for = "department" class="form-label text-start">所属課</label>
	      	<p th:text="${userDto.departmentId}" class="form-control bg-white border-dark">
	  </div>
  </div>
</div>

<!-- 入力画面へ戻る -->

<form th:action="@{/admin/back}" method="post" th:object= "${userDto}" enctype="application/x-www-form-urlencoded">

      <!-- hiddenで値を保持 -->
<input type="hidden" th:field="*{userId}">
<input type="hidden" th:field="*{mailAddress}">
<input type="hidden" th:field="*{password}">
<input type="hidden" th:field="*{name}">
<input type="hidden" th:field="*{departmentId}">

 <div class="container mt-3">
  <div class="row">
    <div class="col-12 text-start ms-lg-5">
	  <button type="submit" class="btn fs-6">
        入力画面へ戻る
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-return-left ms-1 mb-1" viewBox="0 0 16 16">
           <path fill-rule="evenodd"
                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
         </svg>
	  </button>
    </div>
  </div>
</div>

</form>


<!-- 登録 -->
<form th:action="@{/admin/userregistrationcomplete}" method="post" th:object= "${userDto}" enctype="application/x-www-form-urlencoded">	
<div class ="container text-center mt-4">
	  <div class = "col-auto">
	      <button type="submit" class="btn btn-success">登録</button>

	      <!-- hiddenで値を保持 -->
          <input type="hidden" th:field="*{userId}">
          <input type="hidden" th:field="*{mailAddress}">
          <input type="hidden" th:field="*{password}">
          <input type="hidden" th:field="*{name}">
          <input type="hidden" th:field="*{departmentId}">

	  </div>
</div>
</form>
</section>
</body>