<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>ユーザー確認画面</title>
</head>
<body>
	<section>
		<div class="container text-center">	
		 <div class="row">
		  	<div class="h3 fw-normal" style="margin-top: 111px;">
		        図書館システム
		      </div>
		 </div>
		<div class="row">
		   <div class="h4 fw-normal" style="margin-top: 146px;">
		     ユーザー確認画面
		   </div>
		</div>
	   </div>
		<div class="container text-center" style="background-color: #D9D9D9; width: 311px ;height: 235px; margin-top: 73px; border-radius: 10px;">
			<div class="row">
		  		<div class="col-5 h5 fw-normal text-end" style="margin-top: 39px;">社員ID</div>
		  		<div class="col-6 h5 fw-normal text-center" style="margin-top: 39px;">0001</div>
			</div>

			<div class="row">
		  		<div class="col-5 h5 fw-normal text-end" style="margin-top: 39px;">名前</div>	 
		  		<div class="col-6 h5 fw-normal text-center" style="margin-top: 39px;">武藤　秀平</div>
			</div>
			
		    <div class="row">
		  		<div class="col-5 h5 fw-normal text-end" style="margin-top: 39px;">所属課</div>	 
		  		<div class="col-6 h5 fw-normal text-center" style="margin-top: 39px;">開発課</div>
			</div>
		</div>
     
		
		<div class="row">
		  <div class="col-3 h6 fw-normal text-start" style="margin-top: 21px;">
		<a href="top">TOPへ戻る↩</a>
		  </div>
		</div>
		
		<div class="row justify-content-evenly">
		  <button type="button" class="col-4 h6 btn btn-danger" style="margin-top: 123px;">編集</button>
		  <button type="button" class="col-4 h6 btn btn-success" style="margin-top: 123px;">削除</button>
		</div>
	</section>

</body>
</html>