<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>userEditConfirmation</title>
</head>

<body>
<section class = "container justify-content-center mt-5">
  <div class="row">
	<h1 class= "text-center">図書館システム</h1>
  </div>
  <div class="row">
	<h2 class= "text-center mt-4">ユーザー編集確認画面</h2>
  </div>	

	<!-- ================== 社員ID表示 ================== -->
 
   <div class ="container">
	 <div class = "row justify-content-center">
	   <div class = "col-8 pt-2">
	     <label class="form-label text-start">社員ID</label>
	     <!--UserIdを表示-->
	     <div class="rounded-2 h-75 border border-black">
	       <p class="mt-3 ms-2 fw-normal h6" th:text="${userEditDto.userId}"></p>
	     </div>
	   </div>
	 </div>
   </div>
　　<!-- ================== 名前入力欄 ================== -->
   <div class ="container">
     <div class = "row justify-content-center">
	   <div class = "col-8 pt-2">
     	 <label class="form-label text-start">名前</label>
		 <div class="rounded-2 h-75 border border-black">
	       <p class="mt-3 ms-2 fw-normal h6" th:text = "${userEditDto.name}"></p>
		 </div>
	   </div>
     </div>
   </div>
<!-- ================== 所属課入力欄 ================== -->
   <div class ="container mt-4">
     <div class = "row justify-content-center">
       <div class = "col-8 pt-2">
		 <label class="form-label text-start">所属課</label>
		 <div class="rounded-2 h-75 border border-black">
           <p class="mt-3 ms-2 fw-normal h6" th:text = "${userEditDto.departmentId}"></p>
	     </div>
	   </div>  
     </div>
   </div>
<!-- ================== 戻るボタン ================== -->
   <div class ="input-group mt-5 gap-1">
     <div class ="row justify-content-start"> 
       <div class = "col-12 ms-lg-5 ps-lg-5">
		 <a th:href="@{/admin/userconfirmationscreen(userId=${userEditDto.userId})}" class="btn fs-6">戻る</a>
		 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
           <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
         </svg>
       </div>
  　 </div>
   </div>
   <!-- hiddenで値を保持 -->
   <input type="hidden" name="userId" th:value="${userEditDto.userId}" />
   <input type="hidden" name="userId" th:value="${userEditDto.name}" />   
  <!-- ================== 完了ボタン ================== -->
   <div class ="container text-center mt-5">
	<div>> class = "row justify-content-center">
      <form th:action="@{/admin/userregistrationcomplete}" method="post" th:object= "${userDto}" enctype="application/x-www-form-urlencoded">	
		<div class ="container text-center mt-4">
		  <div class = "col-auto">
		    <button type="submit" class="btn btn-success">完了</button>
			      
			  <!-- hiddenで値を保持 -->
		      <input type="hidden" th:field="*{userId}">
		      <input type="hidden" th:field="*{name}">
		      <input type="hidden" th:field="*{departmentId}">

		   </div>
		 </div>
	   </form>
	 </div>
   </div>
</section>
</body>
</html>