<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>ユーザー登録完了</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

<section class = "container justify-content-center mt-5">

    <h1 class= "text-center">GrowLibrary</h1>
    <br>
    <h3 class= "text-center mt-4">ユーザー登録完了</h3>
    <br>

<!-- 完了ラベル -->
<div class="text-dark">
  <div class="container ms-2 text-center">
    <div class="row justify-content-center">
      <div class="col-auto bg-dark-subtle pt-2 text-center" style="height:40px; border-radius: 5px;">
        以下のユーザーを登録しました。
      </div>
    </div>
  </div>
</div>

<!-- 社員ID -->
<div class ="container mt-4">
  <div class = "row justify-content-center">
	  <div class = "col-11 col-sm-8 pt-2">
	      	<label for = "id" class="form-label text-start">社員ID</label>
	      	<p th:text="${tuser.userId}" class="form-control bg-white border-dark text-break">
	  </div>
  </div>
</div>

<!-- メールアドレス -->
<div class ="container mt-3">
  <div class = "row justify-content-center">
	  <div class = "col-11 col-sm-8 pt-2">
	      	<label for = "mail" class="form-label text-start">メールアドレス </label>
	      	<p th:text="${tuser.mailAddress}" class="form-control bg-white border-dark text-break">
	  </div>
  </div>
</div>

<!-- 名前 -->
<div class ="container mt-3">
  <div class = "row justify-content-center">
	  <div class = "col-11 col-sm-8 pt-2">
	      	<label for = "name" class="form-label text-start">名前</label>
	      	<p th:text="${tuser.name}" class="form-control bg-white border-dark text-break">
	  </div>
  </div>
</div>

<!-- 所属課 -->
<div class ="container mt-3">
  <div class = "row justify-content-center">
	  <div class = "col-11 col-sm-8 pt-2">
	      	<label for = "department" class="form-label text-start">所属課</label>
	      	<p th:text="${tuser.departmentId}" class="form-control bg-white border-dark text-break">
	  </div>
  </div>
</div>

<!-- ================== Topへ戻るボタン ================== -->
	<div class="row d-flex justify-content-center mt-4 mb-4 text-start">
		<a href="/admin/adminusertop" class="col-11 col-sm-8 text-black ms-1">
			<img src="/images/TOP_Return.png" style="width: 40px; height: 40px;">
		</a>
	</div>

</section>
</body>
</html>
